<!-- Navigation bar -->
<!-- <div id ="navDiv" class="navbar-block"> -->
<nav id="nav" class="uk-navbar">
    <a class="uk-navbar-brand" href="{{ site.baseurl }}/">Edward Ding's Blog</a>
    <ul class="uk-navbar-nav uk-navbar-center">
        <li><a href="/categories/MachineLearning">Machine Learning</a></li>
        <li><a href="/categories/UFLDL">UFLDL</a></li>
        <li><a href="/categories/FreeWrite">Free Write</a></li>
        <li><a href="/categories/Tutorial">Tutorial</a></li>
        <li><a href="/categories/AllPosts">All Posts</a></li>
    </ul>

    <!-- From the right side -->
    <div class="uk-navbar-flip">
        <ul class="uk-navbar-nav">
            <li><a href="/about">About Me</a></li>
        </ul>
    </div>
</nav>
<!-- </div> -->